.App {
  background-color: #0047ab;
  background-size: cover;
}
a{
  color: black;
  text-decoration: none;
}
.headerCont{
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  background-color: slategray;
}
.headerText{
  color:orangered;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.topnav {
  display: flex;
  justify-content: center;
  height: 3em;
  overflow: hidden;
  background-color: #e9e9e9;
  width: 100%;
  align-items: center;
}
.searchField{
  display: flex;
  justify-content: center;
  height: 2em;
}

.topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}
.topnav input[type="text"] {
  font-size: 2em
}
.formCont{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 2em;
  width: 100%;
}
.moviesCont{
  display: inline-block;
  text-align: start;
  height: 30em;
  width: 16%;
  padding: .2em;
  background-color: aliceblue;
  border: black .2em solid;
  margin: .4em;
  border-radius: 5%;
  overflow: auto;
  
}
.moviesCont:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}
.imgThumb{
  width: 100%;
}

.postAndMovieCont{
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
  width: auto;

}
.movieList{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  /* padding: 1em; */
}
.postCont{
  width: 20%;
}
.imgcont{
  display:flex;
  justify-content: center;
  height: 80%;
  
}
.moviesEach{
  display: flex;
  flex-direction: column;
  margin-bottom: .1em;
  height: 17%;
  text-align: center;
}
.postLanding{
  width: 100%;
}

.selectedMoviesInfo{
  display: flex;
  flex-direction: column;
  width: 60%;

}
.selectedMoviesCont{
  display: inline-block;
  text-align: start;
  height: 30em;
  width: 20%;
  padding: .2em;
  background-color: aliceblue;
  border: black .2em solid;
  margin: .4em;
  border-radius: 5%;
  overflow: auto;
  margin-right: 2em;
}
.selectedMoviesMain{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.selectedMovieTitle{
  font-size: 3em;
  margin-bottom: 10em;
}
.selectedImgCont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}
/* .infoSettings{
  font-size: 1.1em;
} */
.infoSettings .infoHeader{
  text-decoration: bold;
  font-size: 1.5em;
}
