.App {
  background-color: #0047ab;
  background-size: cover;
}
.headerCont{
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  background-color: slategray;
}
.headerText{
  color:orangered;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.topnav {
  display: flex;
  justify-content: center;
  height: 3em;
  overflow: hidden;
  background-color: #e9e9e9;
  width: 100%;
  align-items: center;
}
.searchField{
  display: flex;
  justify-content: center;
  height: 2em;
}

.topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}
.topnav input[type="text"] {
  font-size: 2em
}
.formCont{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 2em;
  width: 100%;
}
.moviesCont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  height: 30em;
  width: 20em;
  padding: 1em;
  background-color: aliceblue;
  border: black .2em solid;
  margin: .4em;
  border-radius: 5%;
  overflow: auto;
  padding: .2em;
}
.imgThumb{
  height: 15em;
}
.postAndmovieCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 15em */

}
.postCont{
  width: 30em;
}
.imgcont{
  display:flex;
  justify-content: center;
  margin-bottom: 1em;
  
}